body{
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  margin: 0px;
  text-align: center;
}
a{
  color: inherit;
}
header{
  display:flex;
  width: 100%;
  position: fixed;
  height: 69px;
  border-bottom: solid 1px seashell;
  justify-content: space-between;
  align-items: center;
}
.logo img{
  height: 50px;
  padding-left: 10px;
  padding-top: 5px;
  align-items: center;
}
.logo nav{
  text-decoration: underline;
}

span{
  padding: 0px 10px;
}
