body{
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  margin: 0px;
  text-align: center;
}
a{
  color: inherit;
}
/*Header styling */
  header{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
    position: fixed;
    height: 69px;
    border-bottom: solid 1px seashell;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  .logo img{
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    align-items: center;
  }
  .logo nav{
    text-decoration: underline;
  }

  span{
    padding: 0px 10px;
  }
/*Top Styling*/
  .main_container{
    display: inline-flex;
    margin-top: 70px;
    width: 1200px;
    border: solid 1px red;
    flex-direction: column;
  }

  .top{
    display: flex;
    flex-direction: column;
    height: 700px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    text-align: center;
    justify-content: center;
    border: solid 1px red;

  }
.top, h2, h4{
  background-color: black;
  margin: 0px;
  padding: 10px 0px;
  width: inherit;
}

  .middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    border: solid 1px red;
  }

.middle img{
  width: 300px;
  height: 200px;

}

.img_mid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
  border: solid 1px red;
}
.mid_1{
    padding-right: 50px;
}

.mid_3{
  padding-left: 50px;
}

.mid_4{
  padding-right: 25px;
}

.mid_5{
  padding-left: 25px;
}
  .bottom{
    height: 500px;
    border: solid 1px red;
  }
